{% extends "@nucleus/page_head.html.twig" %}

{% block head_title %}

    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% include 'partials/metadata.html.twig' %}
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
    {% endif %}
	
{% endblock %}

{% block head_application %}
    {% do gantry.platform.finalize %}
    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}

		<script src="{{ url('gantry-assets://js/gaskeun.js') }}"></script>
		
    {% endblock %}
{% endblock %}

{% set media_breakpoint %}
var gaskeun_media_breakpoint = {'wide':{{ 16*gantry.config.get('styles.breakpoints.large-desktop-container')|number_format }},'desktop':{{ 16*gantry.config.get('styles.breakpoints.desktop-container')|number_format}},'tablet':{{ 16*gantry.config.get('styles.breakpoints.tablet-container')|number_format}},'mobile':{{ 16*gantry.config.get('styles.breakpoints.large-mobile-container')|number_format}}}
{% endset %}
{% do gantry.document.addInlineScript(media_breakpoint, 0) %}
