{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

<div {% if particle.background %}style='background-image: url({{ particle.background|e }});'{% endif %} 
    class="ga-features ga-bgrimg">

	<div class='block {{particle.class}}'>

	{% if particle.headline %}<h2 class='headline'>{{ particle.headline|html }}</h2>{% endif %}
    {% if particle.text %}<p>{{ particle.text|html }}</p>{% endif %}
	
	<div class="feature-items">
    
	{% for feature in particle.features %}
    
		<div class="feature">

			{% if feature.image %}
				<div class='image'><img src="{{ feature.image|e }}"></div>
				<div class="feature-content icon-offset">
			{% else %}
				{% if feature.icon %}
					<i class="{{ feature.icon }}" aria-hidden="true"></i>
					<div class="feature-content icon-offset">
				{% else %}
					<div class="feature-content">
				{% endif %}
            {% endif %}
            {% if feature.header %}<h4>{{ feature.header }}</h4>{% endif %}
            {% if feature.text %}<p>{{ feature.text }}</p>{% endif %}
			</div>
        </div>
    {% endfor %}
    </div>

	</div>
</div>

{% endblock %}