{% extends '@nucleus/partials/particle.html.twig' %}

{% set dump = gantry.config.get('styles') %}

{% set dump_content %}

<h2>Theme Developer Variables</h2>

<div class="toggle">  
  <input type="checkbox" checked value="selected" id="toggle-4" class="toggle-input">
  <label for="toggle-4" class="toggle-label">_default.scss</label> 
  <div role="toggle" class="toggle-content">

<p>Gantry will override any of these variables, or just define them before <code>_base.scss</code> manually.</p>

<textarea rows='12'>
{%- for style,data in dump %}
{% for field,val in data %}
{% if ((val == null) or (val=='')) %}{% set val='false' %}{% endif %}
{{style|raw}}-{{field|raw}}:{{val|raw}} !default;
{% endfor %}
{% endfor -%}
</textarea>

</div></div>

<div class="toggle">  
  <input type="checkbox" value="selected" id="toggle-3" class="toggle-input">
  <label for="toggle-3" class="toggle-label">_var-map.scss</label> 
  <div role="toggle" class="toggle-content">

Lists and maps which are collections of already defined variables

<textarea rows=14>
$vars-map: (
{% for style,data in dump %}
{% if style != 'preset' %}
  {{style|raw}}:(
{% for field,val in data %}
    {{field|raw}}: ${{style|raw}}-{{field|raw}},
{% endfor %}
  ),
{% endif %}
{% endfor %}
</textarea>
  
</div></div>

<div class="toggle">  
  <input type="checkbox" value="selected" id="toggle-2" class="toggle-input">
  <label for="toggle-2" class="toggle-label">preset.yaml</label> 
  <div role="toggle" class="toggle-content">
  
<textarea rows=14>
preset-name:
  image: 'gantry-admin://images/preset1.png'
  description: preset-name-description
  colors:
{% if dump.header['background'] %}
	- '{{ dump.header['background'] }}'
{% endif %}
{% if dump.navigation['background'] %}
	- '{{ dump.navigation['background'] }}'
{% endif %}
	- '{{ dump.base['background'] }}'
	- '{{ dump.base['text-color'] }}'
{% if dump.footer['background'] %}
	- '{{ dump.footer['background'] }}'
{% endif %}

  styles:
{% for style,data in dump %}
{% if style != 'preset' %}
    {{style|raw}}:
{% for field,val in data %}
{% if val != null %}
	{{field|raw}}: '{{val|raw}}'
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</textarea>

</div></div>

<div class="toggle">  
  <input type="checkbox" value="selected" id="toggle-6" class="toggle-input">
  <label for="toggle-6" class="toggle-label">cheatsheet</label> 
  <div role="toggle" class="toggle-content">

<h3>Basic</h3>
<div class='f-table-d'>
<div><img src="{{ 'gantry-admin://images/layouts/body-only.png'|url }}"><input type='text' value='gantry-admin://images/layouts/body-only.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/default.png'|url }}"><input type='text' value='gantry-admin://images/layouts/default.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/home.png'|url }}"><input type='text' value='gantry-admin://images/layouts/home.png'></div>
</div>
<div class='f-table-d'>
<div><img src="{{ 'gantry-admin://images/layouts/error.png'|url }}"><input type='text' value='gantry-admin://images/layouts/error.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/offline.png'|url }}"><input type='text' value='gantry-admin://images/layouts/offline.png'></div>
</div>

<h3>Columns</h3>
<div class='f-table-d'>
<div><img src="{{ 'gantry-admin://images/layouts/2-col-left.png'|url }}"><input type='text' value='gantry-admin://images/layouts/2-col-left.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/2-col-right.png'|url }}"><input type='text' value='gantry-admin://images/layouts/2-col-right.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/3-col-left.png'|url }}"><input type='text' value='gantry-admin://images/layouts/3-col-left.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/3-col-right.png'|url }}"><input type='text' value='gantry-admin://images/layouts/3-col-right.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/3-col.png'|url }}"><input type='text' value='gantry-admin://images/layouts/3-col.png'></div>
</div>

<h3>Fixture</h3>
<div class='f-table-d'>
<div><img src="{{ 'gantry-admin://images/layouts/fix-left.png'|url }}"><input type='text' value='gantry-admin://images/layouts/fix-left.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/fixtop.png'|url }}"><input type='text' value='gantry-admin://images/layouts/fixtop.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/column-left.png'|url }}"><input type='text' value='gantry-admin://images/layouts/column-left.png'></div>
<div><img src="{{ 'gantry-admin://images/layouts/column-right.png'|url }}"><input type='text' value='gantry-admin://images/layouts/column-right.png'></div>
</div>



{% include '@particles/ga-dummy/gantry.html' %}

</div></div>

<div class="toggle">  
  <input type="checkbox" value="selected" id="toggle-1" class="toggle-input">
  <label for="toggle-1" class="toggle-label">php array</label> 
  <div role="toggle" class="toggle-content">

<pre>
{{ dump|print_r }}
</pre>

</div></div>


{% endset %}

{% set text_content %}

Text Only! Maecenas rutrum eros mi, eget ullamcorper tortor vestibulum nec. In placerat lorem eget mauris viverra, vel imperdiet purus gravida. Aliquam aliquet tincidunt ipsum in viverra. Vestibulum luctus elit elit, nec posuere libero gravida ac. Aliquam et ultricies dolor.

{% endset %}

{% set page_content %}

<h1 class='title'>Gasken</h1>

<p>Gasken Grav Theme with Gantry</p>

<p>The style is <strong>strong</strong> while obilique is <i>italic</i> not <u>underline</u> nor <strike>strike</strike>. Using css var() for color palletes, (<code>var(--txt-a1);</code>) with a <span data-tooltip="Chrome, Edge, etc." data-flow="top">modern browser tricks</span> which you can customize.</p>

<p>Read all about in <a href='//tacoen.github.io/gasken-theme'>Gasken Theme's Page</a></p>

<h3>It's Grav</h3>
<p>Grav is a modern open source flat-file CMS. Packed to the gills with amazing features and tools, coupled with heaps of detailed <a href='//learn.getgrav.org/'>documentation</a>, Grav will make you look like a hero developer!</p>

<h3>Gantry</h3>
<p>Gantry is Theme Framework that help you develop CMS themes quickly and efficiently while providing flexibility and ease-of-use for end-users. <a href='//gantry.org'>No experience required</a>!</p>

<h2>Palletes</h2>

<div class='g-grid f-flush'>

<div class='g-block size-25'>
<div class='g-content'>

	<h4>List Item</h4>

	<div class='square'>
	<ul>
	<li>Light</li>
	<li>Fast</li>
	<li>Superb</li>
	</ul>
	</div>

	<div class='lower-roman'>
	<ol>
	<li>Light</li>
	<li>Fast</li>
	<li>Superb</li>
	</ol>
	</div>

	<div class='decimal-leading-zero'>
	<ol>
	<li>Light</li>
	<li>Fast</li>
	<li>Superb</li>
	</ol>
	</div>

</div>
</div>

<div class='g-block size-25'>
<div class='g-content'>

	<h4>Text Color</h4>

	<div class='li-none'>
	<ul>
	<li>Default</li>
	<li class='txt-co'>Complement</li>
	<li class='txt-light'>Light</li>
	<li class='txt-dark'>Dark</li>
	<li class='txt-a1'>Analogic 1</li>
	<li class='txt-a2'>Analogic 2</li>
	<li class='txt-t1'>Tradic 1</li>
	<li class='txt-t2'>Tradic 2</li>
	</ul>
	</div>


</div>
</div>


<div class='g-block size-25'>
<div class='g-content'>

	<h4>Background Color</h4>

	<div class='li-none'>
	<ul>
	<li class='center padding bg-a1'>Analogic 1</li>
	<li class='center padding bg-a2'>Analogic 2</li>
	<li class='center padding bg-t1'>Tradic 1</li>
	<li class='center padding bg-t2'>Tradic 2</li>
	<li class='center padding bg-co'>Complement</li>
	</ul>
	</div>


</div>
</div><div class='g-block size-25'>
<div class='g-content'>

	<h4>7 dark</h4>

	<div class='li-none'>
	<ul>
	<li class='center padding bg-white'>White</li>
	<li class='center padding bg-light'>Light</li>
	<li class='center padding bg-light-1'>Light-1</li>
	<li class='center padding'>Equal</li>
	<li class='center padding bg-dark-1'>Dark-1</li>
	<li class='center padding bg-dark'>Dark</li>
	<li class='center padding bg-black'>Black</li>
	</ul>
	</div>


</div>
</div>
</div>

<h2>Color Scheme</h2>

<div class='g-grid f-flush'>
   <div class='g-block size-30'>
      <div class='g-content'>
         <pre>
:root {
  --bg: hsl(120,0 45%);
  --pad: 1rem;
}

body {
  padding: var(--pad);
}

</pre>
      </div>
   </div>
   <div class='g-block size-40'>
      <div class='g-content'>
         <table>
            <tr>
               <th>Float</th>
               <th>Percentage</th>
               <th>Value</th>
            </tr>
            <tr>
               <td>1.0</td>
               <td>100%</td>
               <td>Full</td>
            </tr>
            <tr>
               <td>0.0</td>
               <td>0%</td>
               <td>Empty</td>
            </tr>
            <tr>
               <td>0.1</td>
               <td>10%</td>
               <td>Almost empty</td>
            </tr>
            <tr>
               <td>0.5</td>
               <td>50%</td>
               <td>Half</td>
            </tr>
            <tr>
               <td>0.25</td>
               <td>25%</td>
               <td>Quater</td>
            </tr>
         </table>
      </div>
   </div>
   <div class='g-block size-30'>
      <div class='g-content'>
         <blockquote>lorem quote ipsum in blockquotes looks great.<cite>lorem in div</cite></blockquote>
      </div>
   </div>
</div>

{% endset %}



{% block particle %}

	{% if particle.content == 'page' %}
		{{ page_content }}
	{% elseif particle.content == 'modular' %}
		{% include '@particles/ga-dummy/modular.html' %}
	{% elseif particle.content == 'dump' %}
		{{ dump_content }}
	{% elseif particle.content == 'colors' %}
		{% include '@particles/ga-dummy/colors.html' %}
	{% elseif particle.content == 'fa' %}
		{% include '@particles/ga-dummy/fontawesome.html' %}
	{% elseif particle.content == 'emoji' %}
		{% include '@particles/ga-dummy/emoji.html' %}
	{% elseif particle.content == 'cards' %}
		{% include '@particles/ga-dummy/cards.html' %}
	{% elseif particle.content == 'sandbox' %}
		{% include '@particles/ga-dummy/sandbox.html' %}
	{% else %}
		{% include '@particles/ga-dummy/typography.html' %}
	{% endif %}

{% endblock %}
