{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

	<div class="ga-list {% if particle.layout %}{{ particle.layout|e }}{% endif %}">
			{% if particle.headline %}
				<h3 class='title'>{{ particle.headline|raw }}</h3>
			{% endif %}
			
			{% if particle.description %}
				<div class="description">
				{{ particle.description|raw }}
				</div>
			{% endif %}
			
			{% if particle.items|length >0 %}
			
			<ul class='items'>
			{% for item in particle.items %}
				<li class="item {{ item.class }} {{ item.variations }}"
				{% if item.id %}id="{{ item.id|e }}"{% endif %}">
					
					{% if item.image %}
						{% set image %}
						<span class='item-image'>
						<img 
							alt="{{ item.title|raw }}" src="{{ item.image|url }}">
						</span>
						{% endset %}
					{% endif %}

					{% if item.link %}
						{% set pre = "<a class='link' href='"~item.link~"'>" %}
						{% set suf = "</a>" %}
					{% else %}
						{% set pre = "" %}
						{% set suf = "" %}
					{% endif %}

					{% if item.title %}
						{% set title = "<span class='title'>"~item.title|raw~"</span>" %}
					{% else %}
						{% set title = "" %}
					{% endif %}

					{% if item.subtitle %}
						{% set subtitle = "<span class='subtitle'>"~item.subtitle|raw~"</span>" %}
					{% else %}
						{% set subtitle = "" %}
					{% endif %}

					{{ pre|raw }}{{ image|raw }}{{ title|raw }}{{ subtitle|raw }}{{ suf|raw }}

				</li>
			{% endfor %}

			</ul>
			{% endif %}			
		
			
			{% if particle.linktext %}
				<div class='link'>
				<a href="{{ particle.link|e }}">{{ particle.linktext|e }}</a>
				</div>
			{% endif %}

	</div><!--- eof list-->

{% endblock %}