{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

	<div class="ga-list {% if particle.layout %}{{ particle.layout|e }}{% endif %}">
			{% if particle.headline %}
				<h3 class='title'>{{ particle.headline|raw }}</h3>
			{% endif %}
			
			{% if particle.description %}
				<div class="description">
				{{ particle.description|raw }}
				</div>
			{% endif %}
			
			{% if particle.items|length >0 %}
			
			<ul class='items'>
			{% for sample in particle.items %}
				<li class="item {{ sample.class }} {{ sample.variations }}"
				{% if sample.id %}id="{{ sample.id|e }}"{% endif %}">
					
					{% if sample.image %}
						{% set image %}
						<div class='item-image'>
						<img 
							alt="{{ sample.title|raw }}" src="{{ sample.image|url }}">
						</div>
						{% endset %}
					{% endif %}

					{% if sample.link %}
						{% set pre = "<a class='link' href='"~sample.link~"'>" %}
						{% set suf = "</a>" %}
					{% else %}
						{% set pre = "" %}
						{% set suf = "" %}
					{% endif %}

					{% if sample.title %}
						{% set title = "<div class='title'>"~sample.title|raw~"</div>" %}
					{% else %}
						{% set title = "" %}
					{% endif %}

					{{ pre|raw }}{{ image|raw }}{{ title|raw }}{{ suf|raw }}

				</li>
			{% endfor %}

			</ul>
			{% endif %}			
		
			
			{% if particle.linktext %}
				<div class='link'>
				<a href="{{ particle.link|e }}">{{ particle.linktext|e }}</a>
				</div>
			{% endif %}

	</div><!--- eof list-->

{% endblock %}