{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

{% if 'page' in particle.items %}
	{% set options = { 
		items:  {('@'~particle.items):('/'~particle.keyword)}, 
		'limit': 5, 
		'order': {'by': particle.order_by, 'dir': particle.order_dir}, 
		'pagination': false
		} 
	%}
{% else %}
	{% set options = { 
		items:  '@'~particle.items, 
		'limit': 5, 
		'order': {'by': particle.order_by, 'dir': particle.order_dir}, 
		'pagination': false
		} 
	%}
{% endif %}


{% set my_collection = page.collection(options) %}
{% if my_collection|length>0 %}
	<div class="page-index">
	<div class="page-index page-list {{particle.style}}">
	{% if particle.title %}<h4>{{ particle.title|raw }}</h4>{% endif %}
	<ul>
	{% for p in my_collection %}
	<li class="{{ p.slug }}"><a href="{{ p.url }}">{{ p.title }}</a></li>
	{% endfor %}
	</ul>
	</div>
	</div>
{% endif %}


{% endblock %}