{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

{% set showcase_image = particle.background %}

{% if showcase_image %}
	<div class="ga-showcase ga-bgrimg" style="background-image: url({{ showcase_image|e }});">
{% else %}
	<div class="modular-row showcase">
{% endif %}

	<div class='block {{particle.class}}'>
    
	{% if particle.headline %}<h2 class='headline'>{{ particle.headline|html }}</h2>{% endif %}
    {% if particle.text %}<p>{{ particle.text|html }}</p>{% endif %}
	
    {% for button in particle.buttons %}
        <a class="button{% if button.primary %} primary{% endif %}" href="{{ button.url }}">{{ button.text }}</a>
    {% endfor %}

	</div>
	
</div>


{% endblock %}